DJANGO_SECRET_KEY=__PUT_KEY_HERE__
DJANGO_DEBUG=True

POSTGRES_DB=invoicing_db
POSTGRES_USER=invoicing_user
POSTGRES_PASSWORD=invoicing_pass
POSTGRES_PORT=5432

DB_HOST=localhost
DB_PORT=5432
DB_NAME=invoicing_db
DB_USER=invoicing_user
DB_PASSWORD=invoicing_pass
